<div>
    id: <input #id>
</div><br>
<div>
    title: <input #title>
</div><br>
<div>
    description: <input #description>
</div><br>
<div>
    creator: <input #creator>
</div><br>
<div>
    image (Enter a valid URL): <input #imgURL>
</div><br>
<div>
    type: <input #type>
</div><br>
<div>
    tags (separate with a comma): <input #tags>
</div><br><br>

<div>
    <button (click)="addGame(id.value, title.value, description.value, creator.value,imgURL.value, type.value, tags.value)" id="b2">Add New Game</button>
</div>

