:host {
    .game {
        border: 1px solid black;
        margin: 20px;
        padding: 10px;
    }

    .last-item {
        display: none;

    }

    .first-item {
        border: 2px solid black;
    }
}

